/* Mobile display: 390 x 844 */

@media screen and (max-width: 390px) {

:root {

  --max-width: 390px;
  --max-height: 844px;

  --color-1: #ffa500;
  --color-2: #fcc35a;
  --color-3: #5e4007;
  --color-4: #808080;
  --color-5: #ffc0cb;
  --color-6: #222;
  --light-color: #fff;
  --dark-color: rgb(30, 29, 29);

  --transparent-color-1: rgba(0, 0, 0, 0.2);
  --transparent-color-2: rgba(143, 143, 143, 0.2);
  --transparent-color-3: rgba(225, 165, 0, 0.8);
  --transparent-color-4: rgba(20, 20, 20, 0.8);
  --transparent-color-5: rgba(0, 0, 0, 0.45);

  --primary-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  --challenge-text-shadow: 1px 3px 3px rgba(225, 165, 0, 0.8);

  --primary-font-size: 1rem;
  --secondary-font-size: 0.5rem;
  --tertiary-font-size: 0.25rem;
  --aside-btn-font-size: 2rem;
  --aside-font-size: 1rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2rem;

  --primary-font-weight: 400;
  --bold-font-weight: 900;

  /* --primary-font-color: ;
  --secondary-font-color: ;
  --tertiary-font-color: #ffc0cb;
  --h2-font-color: #fcc35a;
  --scrollToTopBtn-font-color: #ffa500;
  --aside-link-font-color: #5e4007;

  --primary-background-color: #222;
  --secondary-background-color: #808080;
  --tertiary-background-color: #ffc0cb;
  --primary-transparent-bkgrnd-color: rgba(0, 0, 0, 0.2);
  --scrollToTopBtn-background-color: rgba(143, 143, 143, 0.2);
  --primary-aside-background-color: rgba(225, 165, 0, 0.8);
  --secondary-aside-background-color: rgba(20, 20, 20, 0.8);
  --aside-btn-background-color: rgba(0, 0, 0, 0.2);
  --aside-btn-hover-color: ;
  --section4-background-color: rgba(0, 0, 0, 0.45); */

  --large-image-size: 100%;
  --medium-image-size: 70%;
  --thumbnail-image-size: 50%;
  --button-image-size: 25%;

  --primary-aside-border: 2px solid #9f9d9d;
  --secondary-aside-border: 2px solid #674401;
  --aside-navDropdown-border: #ffa500;

  --primary-cursor: pointer;
  --secondaryA-cursor: grab;
  --secondaryB-cursor: grabbing;
  --tertiary-cursor: progress;
  --zoom-in-cursor: zoom-in;
  --zoom-out-cursor: zoom-out;

  --primary-border-radius: 30px;
  --secondary-border-radius: 10px;
  --tertiary-border-radius: 5px;
  --round-border-radius: 50%;

}

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.25rem;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  min-height: 100%;  /* Needed for footer positioning */
  background-color: var(--primary-background-color);
  color: var(--light-font-color);
  max-width: var(--max-width);
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  grid-row: 1;
  position: relative;
  height: 1300px;
  max-width: var(--max-width);
  padding-top: 6rem;
  background: var(--color-5);
}

/* Boys planting flags */
header img {
  object-fit: content;
  position: absolute;
  top: 0;
  left: 0;
  max-width: var(--max-width);
  z-index: 1;
}

h1 {
  position: relative;
  left: -1.25rem;
  font-size: var(--h1-font-size);
  margin: 0 0 1.5rem;
  line-height: 1;
}

/* Welcome to.... */
#heroText {
  position: absolute;
  top: 27rem;
  left: 0;
  z-index: 4;
  height: fit-content;
  width: 95%;
  margin: 0 auto;
  padding: 0 2rem;
  color: var(--dark-font-color);
  font-size: var(--primary-font-size);
  line-height: 1.75;
}

.skipLink {
  display: none;
}

/* Stories of Adventure */
nav img {
  position: relative;
  top: -3rem;
  left: -1rem;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 3;
}

nav ul li {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  height: fit-content;
}

/* Styles for the slide-in aside Note: will move to mobile styles */
#toggleAsideBtn {
  position: relative;
  top: 20rem;
  left: 240px;
  height: 3.5rem;
  width: 3.5rem;
  background: var(--transparent-color-1);
  border: var(--primary-aside-border);
  border-radius: var(--secondary-border-radius);
  box-shadow: var(--primary-box-shadow);
  font-size: var(--aside-btn-font-size);
  font-weight: var(--bold-font-weight);
  text-align: center;
  color: var(--color-2);
  cursor: var(--primary-cursor);
}

#toggleAsideBtn:hover {
  background: var(--color-4);
}

#toggleAsideBtn:focus {
  outline: none;
  border: var(--secondary-aside-border);
  color: var(--secondary-color);
}

.asideOpened {
  left: 250px;
  transition: right 0.3s ease-in-out;
}

.openClose {
  transform: rotateZ(180deg);
}

/* Default styles for the aside */
aside {
  position: fixed;
  z-index: 7;
  top: 0;
  left: -250px;
  height: 844px;
  width: 250px;
  font-size: var(--aside-font-size);
  background-color: var(--transparent-color-3);
  transition: left 0.3s ease-in-out;
}

/* Show the aside */
.showAside {
  left: 0;
}

.asideLinks {
  list-style: none;
  padding: 2rem;
}

.asideLinks li {
  margin-bottom: 1.5rem;
}

.asideLinks a {
  color: var(--color-3);
  text-decoration: none;
  padding: 0.5rem;
}

.asideLinks a.active {
  border: 2px solid var(--color-3);
}

#asideNavDropdown {
  display: none;
  position: relative;
  top: -2.5rem;
  left: 11rem;
  width: fit-content;
  background: var(--transparent-color-4);
  padding: 0.5rem;
  list-style: none;
  font-size: 0.75em;
  text-align: center;
  transition: left 0.3s ease-in-out;
  cursor: pointer;
}

#asideNavDropdown a {
  color: var(--light-color);
}

/* Sourced code from this link
  https://css-tricks.com/solved-with-css-dropdown-menus/ */

aside ul #asideNavDropdown {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 21.1rem;
  left: 1.5rem;
  margin-top: 0;
  padding: 1rem 0;
}

aside li:hover > #asideNavDropdown,
aside li:focus-within > #asideNavDropdown,
aside li ul #asideNavDropdown:hover {
  display: block;
  visibility: visible;
  opacity: 1;
  border-top: 10px solid var(--aside-navDropdown-border);
  transition: all 1s ease;
}

aside li > #asideNavDropdown li:hover {
  position: relative;
  left: 0;
  width: 100%;
  text-align: center;
  background: var(--color-4);
  padding: 0.5rem 0;
  transition: all 0.5s ease;
  box-shadow: var(--primary-box-shadow);
}

aside li > #asideNavDropdown li a:hover {
  border: none;
}

aside li #asideNavDropdown li {
  clear: both;
  width: 100%;
}

  /* Add styles for the scroll-to-top button */
.scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 5rem;
  right: 6rem;
  z-index: 8;
  height: 70px;
  width: 70px;
  padding: 0.25rem 0 0 0.25rem;
  background: var(--transparent-color-2);
  font-size: 5rem;
  color: var(--color-1);
  border: none;
  border-radius: var(--secondary-border-radius);
  cursor: var(--primary-cursor);
}

/* Section styles */

section {
  position: relative;
  height: fit-content;
  width: 75%;
  margin: 0;
  padding: 2rem;
  align-items: center;
  background: var(--transparent-color-4);
}

.imageContainer {
  display: none;
}

.textContainer h2 {
  font-size: var(--h2-font-size);
  padding: 0.5rem 0 2rem;
  height: auto;
  width: 100%;
  margin: 0;
  color: var(--color-2);
  line-height: 2rem;
}

.textContainer p {
  line-height: 1.75rem;
  color: var(--color-1)
}

#section2 h2 {
  margin-bottom: -1rem;
}

#section4 {
  padding: 0;
}

#section4 .textOverlay {
  padding: 2rem;
  width: 100%;
  background:var(--transparent-color-5);
}

#section4 p {
  height: 500px;
  text-align: center;
}

#bookTitle {
  display: none;
  position: relative;
  top: -2rem;
  left: 0rem;
  width: 100%;
  padding: 0;
  background: var(--text-container-background-color);
}

.capitalLetter {
  font-size: 7rem;
}

span #titleFormat {
  position: relative;
  top: 0;
  left: 0;
}

.quoteMark {
  font-size: 10rem;;
}

#cta {
  display: block;
  position: relative;
  top: 2rem;
  left: 0;
  height: 8rem;
  width: 100%;
  margin: 0 0 3rem;
  font-size: 1.5rem;
  background: var(--transparent-color-5);
}

#cta .capitalLetter {
  font-size: 3rem;
}

#ctaTitleFormat {
  position: absolute;
  top: 5rem;
  left: 5rem;
}

#cta .quoteMark {
  font-size: 3rem;;
}

#ctaCloseQuote {
  position: absolute;
  top: 5rem;
  left: 17.5rem;
}

.spacer {
  display: none;
}

/* Challenge Section */
#section5 {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#section5 h2 {
  text-align: center;
  margin: 1.5rem auto;
  font-size: var(--h2-font-size);
  color: var(--light-color);
}

#section5 p {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  background:var(--transparent-color-3);
  font-size: var(--primary-font-size);
  line-height: 1.5rem;
}

#section5 form {
  margin: 2rem 0;
  color: var(--dark-color);
  font-size: var(--primary-font-size);
}

form #sectionTitle,
form #sectionContent,
form #sectionImage {
  display: block;
  margin: 2rem auto;
  box-shadow: var(--primary-box-shadow);
}

form label {
  color: var(--light-color);
  padding: 1rem;
}

form input {
  height: 3rem;
  padding: 1rem;
  border-radius: 10px;
  background:var(--secondary-background-color);
  color: var(--light-color)
}

form input[type=file] {
  height: fit-content;
  padding: 1.5rem;
  color: var(--light-color)
}

form textarea {
  height: 30rem;
  background:var(--secondary-background-color);
  padding: 2rem;
  border-radius: var(--secondary-border-radius);
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--light-color)
}

button[type="submit"] {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 1rem 5rem auto;
  padding: 0.25rem;
  border-radius: var(--round-border-radius);
  font-size: 1rem;
  border: 3px solid var(--secondary-background-color);
  box-shadow: var(--primary-box-shadow);
  cursor: pointer;
}

button[type="submit"]:hover {
  background: var(--transparent-color-3);
}

form #instructions {
  position: relative;
  top: 0.75rem;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
}

#ctaSection5 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 2rem auto;
  text-align: center;
  font-size: var(--primary-font-size);
}

#challengeContainer {
  position: relative;
  top: -3rem;
  left: 2.5rem;
  z-index: 1;
  height: 75vh;
  max-width: var(--max-width);
  margin: 0;
  background: var(--tertiary-background-color);
}

#challengeContainer h2 {
  /* position: relative;
  top: 0;
  left: 0; */
  text-align: center;
  font-size: var(--secondary-font-size);
  margin: 0 auto;
}

#challengeContainer p {
  position: relative;
  top: 20rem;
  left: 0;
  margin: 0.5rem auto;
  font-size: var(--secondary-font-size);
  overflow-wrap: break-word;
  box-shadow: var(--primary-box-shadow);
}

#challengeContainer img {
  position: relative;
  top: -4rem;
  border-radius: var(--secondary-border-radius);
  box-shadow: var(--primary-box-shadow);
}

footer {
  display: flex;
  flex-direction: column;
  grid-row: 3;
  position: sticky;
  bottom: -50rem;
  left: -3rem;
  z-index: 5;
  height: 75vh;
  width: 100%;
  background: var(--transparent-color-3);
  color: var(--dark-color);
  margin: 0 auto;
  padding: 0.5rem;
}

.footerContainer {
  position: relative;
  left: 0;
  bottom: 0;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0.5rem 0 2rem;
}

.footerLinks a {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 5rem;
  color: var(--dark-color);
  cursor: var(--primary-cursor);
  line-height: 3rem;
  margin-bottom: 1rem;
}

.footerSocial a {
  position: relative;
  top: 0;
  left: 0;
  color: var(--dark-color);
  text-decoration: none;
  margin: 0 auto;
  padding: 2rem;
  cursor: var(--primary-cursor);
}

.footerCopyright {
  position: relative;
  top: 0;
  left: -3.5rem;
  margin: 2rem auto;
  text-align: center;
  padding: 2rem auto;
  line-height: 2rem;
}

.footerCopyright p {
  font-size: var(--tertiary-font-size);
}
}