/* Desktop display: 1600 x 900 */

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.25rem;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  min-height: 100%;  /* Needed for footer positioning */
  background-color: #222;
  color: #fff;
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;
}

/* Remove default link styles */
a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  padding: 0 0 2rem;
}

header {
  grid-row: 1;
  position: relative;
  height: 100vh;
  max-width: 1600px;
  background: pink;
}

header img {
  object-fit: content;
}

#heroText {
  position: absolute;
  top: 15rem;
  left: 5rem;
  width: 50%;
  color: rgb(30, 29, 29);
  font-size: large;
}

.skipLink {
  position: fixed;
  top: 1rem;
  left: 8rem;
  z-index: 11;
  color: #fff;
  border: 5px solid rgb(111, 0, 255);
  border-radius: 10px;
  padding: 0.75rem;
  margin: -1.5rem 0.25rem 1.5rem;
  align-items: center;
}

.skipLink:hover {
  border: 2px solid #fcc35a;
  padding: 1rem 0.5rem;
  margin: 0 0.45rem 1.5rem 0.37rem;
  font-size: 1.10rem;
  box-shadow: 2px 4px 5px rgba(232, 219, 219, 0.7);
}

.skipLink:focus {
  border-color: #ffa500;
  outline: none;
}

nav img {
  height: 6.5rem;
  padding: 0;
  margin: 1rem 0 0;
}

nav {
  height: 15vh;
  width: 99.25%;
  position: fixed;
  z-index: 10;
  margin: 0;
  background: rgba(20, 20, 20, 0.95);
  border: 5px solid rgb(111, 0, 255);
  box-shadow: 0 10px 10px rgba(20, 20, 20, 0.95);
  }

  nav ul {
    display: flex;
    margin: -6.75rem 1rem 1rem auto;
    width: 70%;
  }

  .navLinks input {
    position: absolute;
    top: 8.85rem;
    left: 7rem;
    height: 3rem;
    width: 5rem;
    border-radius: 10px;
    padding-left: 1rem;
    border: none;
  }

  .navLinks input:focus {
    width: 15rem;
  }

  .showBtn {
    display: block;
    transition: all 0.2s ease;
  }

  #searchBtn {
    display: none;
    position: absolute;
    top: 8.85rem;
    left: 20rem;
    height: 48px;
    width: 100px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #808080;
  }

  #searchBtn:hover {
    background: #ffa500
  }

  nav ul li {
    margin: 0 auto;
    padding: 0 1rem;
  }

  nav ul li a{
    display: block;
    position: relative;
    height: 7vh;
    margin: 0;
    padding: 0.3rem 1rem;
    font-size: 1.5rem;
    align-items: center;
    border-radius: 10px 10px 0 0;

  }

  nav ul li a:hover {
    background:rgba(143, 143, 143, 0.3);
    padding-bottom: 0.5rem;
    transition: all 0.5s ease;
  }

  nav ul li a.active {
    border-left: 2px solid #ffa500;
    border-top: 2px solid #ffa500;
    border-right: 2px solid #ffa500;
    border-bottom: 5px solid #ffa500;
  }

  nav ul li a.focus {
    border-left: 2px solid #ffa500;
    border-top: 2px solid #ffa500;
    border-right: 2px solid #ffa500;
    border-bottom: 5px solid #ffa500;
    outline: none;
  }

/* Styles for navigation links and section links */
.navLinks,
.asideLinks {
  list-style: none;
  padding: 2rem;
}

.navLinks li,
.asideLinks li {
  margin-bottom: 1rem;
}

.navLinks a.active {
  border: 2px solid #ffa500;
  border-bottom: 5px solid #ffa500;
  transition: all 0.2s ease;
}

/* Sourced code from this link
  https://css-tricks.com/solved-with-css-dropdown-menus/ */

nav ul #topNavDropdown {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 0;
  padding-top: 1rem 0;
  top: 7.25rem;
  right: 0;
}

nav li:hover > #topNavDropdown,
nav li:focus-within > #topNavDropdown,
nav li ul #topNavDropdown:hover {
  display: block;
  visibility: visible;
  opacity: 1;
  border-top: 10px solid #ffa500;
  transition: all 1s ease;
}

nav li > #topNavDropdown li:hover {
  position: relative;
  left: -2rem;
  width: 100%;
  text-align: center;
  background: #808080;
  padding-top: 0.5rem;
  transition: all 0.5s ease;
}

nav li > #topNavDropdown li a:hover {
  border: none;
}

nav li #topNavDropdown li {
  clear: both;
  width: 100%;
}

  main {
    grid-row: 2;
    padding-bottom: 5rem;
  }

/* Styles for the slide-in aside */
#toggleAsideBtn {
  position: relative;
  top: 5rem;
  left: 240px;
  height: 3.75rem;
  width: 4rem;
  background:rgba(0, 0, 0, 0.2);
  border: 2px solid #9f9d9d;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  color: #808080;
  cursor: pointer;
}

#toggleAsideBtn:hover {
  background: #808080;
  color: #ffc0cb;
}

#toggleAsideBtn:focus {
  outline: none;
  border: 2px solid #674401;
  color: #fcc35a;
}

.asideOpened {
  left: 250px;
  transition: right 0.3s ease-in-out;
}

.openClose {
  transform: rotateZ(180deg);
}

/* Default styles for the aside */
aside {
  position: fixed;
  z-index: 3;
  top: 17vh;
  bottom: 0;
  left: -250px;
  width: 250px;
  font-size: 2rem;
  background-color: rgba(225, 165, 0, 0.8);
  transition: left 0.3s ease-in-out;
}

/* Show the aside */
.showAside {
  left: 0;
}





.asideLinks a {
  color: #5e4007;
  text-decoration: none;
  padding: 0.25rem;
}

.asideLinks a.active {
  border: 2px solid #5e4007;
}

#topNavDropdown {
  display: block;
  position: relative;
  top: 5rem;
  left: 0;
  width:fit-content;
  background: rgba(20, 20, 20, 0.8);
  padding: 0.75rem 0.75rem 0.75rem 2rem;
  list-style: none;
  font-size: 0.75em;
}

#asideNavDropdown {
  display: none;
  position: relative;
  top: -2.5rem;
  left: 12rem;
  background: rgba(20, 20, 20, 0.8);
  padding: 0.75rem;
  list-style: none;
  font-size: 0.75em;
  text-align: center;
  transition: left 0.3s ease-in-out;
  cursor: pointer;
}

#asideNavDropdown a {
  color: #fff;
}

#asideNavDropdown:hover {
  display: block;
  left: 12rem;
  transition: right 0.3s ease-in-out;
}

/* Add styles for the scroll-to-top button */
.scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  display: none;
  height: 70px;
  width: 70px;
  padding: 0.25rem 0 0 0.25rem;
  background: rgba(143, 143, 143, 0.2);
  font-size: 5rem;
  color: orange;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.scrollToTopBtn:hover {
  background: #fff;
}

section {
  position: relative;
  height: 84vh;
  padding-top: 20vh; /* Prevents sections from appearing behind nav when link is clicked */
  /*TODO may be able to do in js with an offset*/
  align-items: center;
}

.textContainer {
  text-align: start;
  flex-basis: 70% ;
  line-height: 1.75rem;
  background: rgba(0, 0, 0, 0.2);
}

.textOverlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 2rem;
  margin: 0;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.imageContainer {
  flex-basis: 40%;
  height: 100%;
  width: 100%;
  padding: 20px;
  background: #ffa500;
}

.textContainer:nth-child(odd) {
  max-width: 1500px;
  padding: 0 2rem;
  margin: 0 auto;
}

.textContainer:nth-child(even) {
  max-width: 1500px;
  padding: 0 2rem 3rem;
  margin: 0 auto;
}

.textContainer h2 {
  font-size: 2rem;
}

.textContainer p {
  max-width: 1300px;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: justify;
}

#section:nth-child(odd),
#section:nth-child(even) {
  align-items: center;
}

section:nth-child(odd) h2 {
  height: 3vh;
  margin: -1rem 0 0;
  color: #fcc35a;
}

section:nth-child(odd) p {
  height: 40vh;
  padding: 2rem 2rem 3rem;
  color: #ffa500;
}

section:nth-child(odd) {
  background: rgba(0, 0, 0, 0.2);
}

section:nth-child(even) h2 {
  height: 3vh;
  margin: -1rem 0 0;
  color: #fcc35a;
}

section:nth-child(even) p {
  height: 40vh;
  padding: 2rem 2rem 3rem;
  color: #ffa500;
}

section:nth-child(3) {
  padding: 15rem 0 0;
}

#section4 .textContainer {
  height: 100%;
}

#section4 .textOverlay {
  position: relative;
  top: -8rem;
  left: 60rem;
  height: 85vh;
  width: 500px;
  padding: 5rem auto;
  background:rgba(0, 0, 0, 0.45)
}

#section4 h2 {
  position: relative;
  top: 8rem;
}

#section4 p {
  position: relative;
  top: 10rem;
  height: 50rem;
  margin: 2rem;
  padding: 0;
  text-align: start;
}

#section4 img {
  position: absolute;
  top: 8rem;
  left: 0;
  object-fit: content;
  width: 90%;
 margin: 0;
}

#bookTitle {
  display: none;
  position: absolute;
  top: -15rem;
  left: 5rem;
  padding: 2rem;
  font-size: 11rem;
  background: rgba(0, 0, 0, 0.2);
}

.capitalLetter {
  font-size: 20rem;
}

span #titleFormat {
  position: relative;
  top: -8rem;
  left: 10rem;
}

.quoteMark {
  font-size: 20rem;;
}

#cta {
  display: block;
  position: absolute;
  top: 11rem;
  left: -8rem;
  height: 15rem;
  width: 50rem;
  font-size: 3rem;
  background: rgba(0, 0, 0, 0.2);
}

#cta .capitalLetter {
  font-size: 7rem;
}

#ctaTitleFormat {
  position: absolute;
  top: 5rem;
  left: 7rem;
}

#cta .quoteMark {
  font-size: 7rem;;
}

#ctaCloseQuote {
  position: absolute;
  top: 5rem;
  left: 28.5rem;
}

#section5 h2 {
  position: relative;
  top: 0;
  left: 2rem;
  margin: 0 auto;
  font-size: 5rem;
  text-shadow: 2px 4px 5px rgba(225, 165, 0, 0.8);
}

#section5 p {
  position: relative;
  top: 5rem;
  left: 0;
  height: fit-content;
  width: 80%;
  margin: 2rem auto 0;
  background:rgba(0, 0, 0, 0.3);
  font-size: 3rem;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}

#section5 form {
  position: relative;
  top: 8rem;
  left: 2rem;
  width: 60%;
  margin: 2rem auto;
  font-size: 3rem;
}

form #sectionTitle,
form #sectionContent,
form #sectionImage {
  display: block;
  width: 100%;
  margin: 1.5rem auto;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}

form label {
  padding: 0 1rem;
}

form input {
  height: 3rem;
  padding: 2rem;
  border-radius: 10px;
  background:#808080;
  font-size: 2rem;
}

form textarea {
  height: 30rem;
  background:#808080;
  padding: 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

button[type="submit"] {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 0 5rem auto;
  padding: 0.25rem;
  border-radius: 50%;
  font-size: 1rem;
  border: 3px solid #808080;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

form #instructions {
  position: relative;
  top: 0.75rem;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
}

button[type="submit"]:hover {
  background: #fcc35a
}

#ctaSection5 {
  position: relative;
  top: 0;
  left: 15rem;
  font-size: 4rem;
}

#challengeContainer {
  position: relative;
  top: 0;
  left: 3.5rem;
  z-index: -1;
  height: 15vh;
  width: 100%;
  margin: 0 auto;
  background: pink;
}

#challengeContainer h2 {
  position: relative;
  top: 0;
  left: 15rem;
  font-size: 3rem;
  margin: 0 auto;
}

#challengeContainer p {
  position: relative;
  top: 2.25rem;
  left: 15rem;
  max-width: 100vh;
  font-size: 2rem;
}

#challengeContainer img {
  position: relative;
  top: -5rem;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}

footer {
  grid-row: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  margin: 0 auto;
  padding: 0.5rem;
}

.footerContainer {
  display: flex;
  position: relative;
  top: 0;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

.footerLinks a {
  color: #fff;
  text-decoration: none;
  margin: 0 auto 0 1rem;
  cursor: pointer;
}

.footerSocial a {
  color: #fff;
  text-decoration: none;
  margin: 0 2rem;
  cursor: pointer;
}

.footerCopyright {
  margin: 0 auto 0 8rem;
  text-align: center;
}

.footerCopyright p {
  font-size: 1rem;
}

/* Font Awesome icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

